<!-- Home Slider -->
<section class="p-0">
<ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
        <div ngxSlickItem>
            <div class="home home9 text-left p-left">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>every time</h4>
                                    <h1>mittnalier</h1>
                                    <a [routerLink]="'/home/left-sidebar/collection/watch'" class="btn btn-outline btn-classic">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="home home10 text-left p-left">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>welcome to fashion</h4>
                                    <h1>men's shoes</h1>
                                    <a [routerLink]="'/home/left-sidebar/collection/watch'" class="btn btn-outline btn-classic">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="home home11 text-left p-left">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>welcome to fashion</h4>
                                    <h1>men's shoes</h1>
                                    <a [routerLink]="'/home/left-sidebar/collection/watch'" class="btn btn-outline btn-classic">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</ngx-slick-carousel>
</section>
<!-- Home slider end -->