<app-slider-five></app-slider-five>
<app-logo-five></app-logo-five>
<app-banner></app-banner>
<app-collection-slider></app-collection-slider>
<app-product-tab-five [products]="products"></app-product-tab-five>
<app-product-slider-five [products]="products"></app-product-slider-five>
<app-collection-banner-five></app-collection-banner-five>
<app-special-products-five [products]="products"></app-special-products-five>
<app-blog-five></app-blog-five>
<app-services-five></app-services-five>
<app-instagram-five></app-instagram-five>
<app-quick-view></app-quick-view>
<app-modal-cart></app-modal-cart>
