<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>our story</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Story</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- about section start href="/home"-->
<section class="about-page  section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Our Story</h4>
                <p>Our Founder, Abiodun Jagun being the only one out of his siblings living in Nigeria
                        with the rest of his family in Diaspora happened to be the only link to connect his
                        siblings abroad whenever they needed to express love and send gift items to their
                        mother.</p>
                        <br>
                <p>Irrespective of their geographical differences they were at peace that their
                        mother was well taken care of. He realized the value of him being present as it
                        would have been quite worrisome if there wasn’t a reliable person physically
                        present to deliver gifts to his mom especially at special occasions and also take
                        care of her. He also got requests from lots of his friends and friends of his siblings
                        to reach out to their loved ones back home in Nigeria. All of these led him to
                        identify a huge gap that needed to be filled for Nigerians who live out of the
                        country in the United States of America, Europe, Canada, Australia e.tc and have
                        no reliable and trusted means of reaching out to their loved ones in cash, gifts
                        and in kind.</p>
                        <br>
                <p>
                        TAC was conceived as a means to fill in this gap where Nigerians in Diaspora can
                        easily reach out to their loved ones’ back home in form of gifts and other services
                        including but not limited to healthcare, money remittance, property purchase etc.
                        by providing transparent and trusted concierge services to its customers at their
                        utmost comfort through an online platform.
                </p>
            </div>
        </div>
    </div>
</section>