<!-- footer start -->
<footer class="footer-type">
    <div class="dark-layout">
        <div class="container">
            <section class="section-b-space">
                <div class="row footer-theme2">
                    <div class="col-lg-3">
                        <div class="footer-title footer-mobile-title">
                            <h4>about</h4>
                        </div>
                        <div class="footer-contant">
                            <div class="footer-logo">
                                <img src="assets/images/icon/logo/f2.png" alt="">
                            </div>
                            <app-information></app-information>
                        </div>
                    </div>
                    <div class="col-lg-6 subscribe-wrapper">
                        <div class="subscribe-block">
                            <h2>newsletter</h2>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleFormControlInput3"
                                        placeholder="Enter your email" name="em" [(ngModel)]="newsletter_email">
                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-6"><small style="color: red;" *ngIf="errorShown">Enter
                                                email address please</small></div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <mat-spinner color="accent" diameter="24" *ngIf="loading"></mat-spinner>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                    <button type="button" class="btn btn-solid" *ngIf="!loading"
                                        (click)="subscribe()">subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-title">
                            <h4>store information</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-details">
                                <li>{{address}}</li>
                                <li>Call Us: {{number}}</li>
                                <li>Fax: {{fax}}</li>
                                <li>Email Us: <a href="mailto:{{email}}">{{email}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <app-copyright></app-copyright>
        </div>
    </div>
</footer>
<!-- footer end -->
<!-- Rtl start -->
<div class="rtl-btn" id="">
    <a href="javascript:void(0)" class="RTL_cls">
        RTL
    </a>
</div>
<!-- rtl end -->