<!-- Banner section -->
<section class="pt-0 banner-6">
    <div class="container">
        <div class="row partition3">
            <div class="col-md-4" *ngFor="let ct of categoryOne">
                <a [routerLink]="ct.link">
                    <div class="collection-banner p-left">
                        <img [src]="ct.image" class="img-fluid" alt="">
                        <div class="contain-banner banner-3">
                            <div>
                                <h2>{{ct.title}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row partition3 banner-top-cls">
            <div class="col-md-4" *ngFor="let ct of categoryTwo">
                <a [routerLink]="ct.link">
                    <div class="collection-banner p-right">
                        <img [src]="ct.image" class="img-fluid" alt="">
                        <div class="contain-banner banner-3">
                            <div>
                                <h2>{{ct.title}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- banner section End -->