<section class=" banner-padding banner-furniture gym-banner">
    <div class="container-fluid">
        <div class="row partition2">
            <div class="col-md-4">
                <a [routerLink]="'/home/left-sidebar/collection/gym'">
                    <div class="collection-banner p-left text-left">
                        <img src="assets/images/gym/banner/1.jpg" class="img-fluid" alt="">
                        <div class="contain-banner">
                            <div>
                                <h4>save 30%</h4>
                                <h2>Gym</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-8">
                <a [routerLink]="'/home/left-sidebar/collection/gym'">
                    <div class="collection-banner p-left text-left">
                        <img src="assets/images/gym/banner/2.jpg" class="img-fluid" alt="">
                        <div class="contain-banner">
                            <div>
                                <h4>save 30%</h4>
                                <h2>Protien Powder</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>