<app-slider-fourteen></app-slider-fourteen>
<app-about-fourteen></app-about-fourteen>
<app-collection-banner-fourteen></app-collection-banner-fourteen>
<app-information></app-information>
<app-product-slider-fourteen [products]="products"></app-product-slider-fourteen>
<app-product-tab-fourteen [products]="products"></app-product-tab-fourteen>
<app-blog-fourteen></app-blog-fourteen>
<app-logo-fourteen></app-logo-fourteen>
<app-quick-view></app-quick-view>
<app-age-verification></app-age-verification>