<!-- home section -->
<!-- <section class="p-0">
  <div class="img-import1">
    <div class="container p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="assets/images/demo/logo.png" alt="Logo" class="img-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a class="nav-link" href="demo#demo-section">Layout <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#product">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#shop">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#feature">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#support">Support</a>
            </li>
          </ul>
          <div class="header-btn">
            <a href="https://themeforest.net/checkout/49089389/create_account"><button type="button" class="btn btn-md">Purchase</button></a>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-lg-6">
          <div class="header-contain">
            <div class="header-contain-set">
              <h5><span>MULTI</span>KART</h5>
              <h1>Boots Your Business<br>
                With Endles <span>Angular</span> Features</h1>
              <p>Multikart is Perfect ecommerce ANGULAR template for any business. it has all features and modules to create your amazing ecommerce website. you can use this template for selling fashion, flowers, watches, furniture, vegetable, beauty products etc.</p>
              <a href="https://themeforest.net/checkout/49089389/create_account"><button type="button" class="btn btn-md">Purchase Now</button></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="header-layout-img-set">
            <img src="assets/images/demo/layout.png" alt="frame" class="img-header-layout">`
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Demo section -->
<!-- <section id="demo-section" class="demo-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-text text-center">
          <h2>14<sup>+</sup></h2>
          <h3>Pre-Built Demo That's Easy To Use</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo7">
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Fashion</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/one" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo5">
            <div class="ribbon-1"><span>n</span><span>e</span><span>w</span></div>
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Pets</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/ten" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo6">
            <div class="ribbon-1"><span>n</span><span>e</span><span>w</span></div>
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Left Sidebar</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/eleven" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo2">
            <div class="ribbon-1"><span>n</span><span>e</span><span>w</span></div>
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Tools</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/thirteen" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo1">
            <div class="ribbon-1"><span>n</span><span>e</span><span>w</span></div>
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Gym</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/twelve" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo3">
            <div class="ribbon-1"><span>n</span><span>e</span><span>w</span></div>
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Marijuana</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/fourteen" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo4">
            <div class="ribbon-1"><span>n</span><span>e</span><span>w</span></div>
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Electronics</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/nine" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo8">
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Fashion</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/two" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo9">
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Fashion</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo10">
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Vegetable</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/four" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo11">
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Watch</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/five" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo12">
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Furniture</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/six" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo13">
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Flower</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/seven" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo14">
          </div>
          <div class="demo-text">
            <h4><span>Demo</span> - Beauty</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/eight" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- Product page section -->
<!-- <div class="tab-section" id="product">
  <section class="demo-section ">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title-text text-center">
            <h2>10<sup>+</sup></h2>
            <h3>Product Page Variations That's Ready To Use</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
          <div class="set-position">
            <div class="layout-container demo27">
            </div>
            <div class="demo-text">
              <h4>product-page (3-col-left)</h4>
              <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                <a href="home/col-left/product/1" target="_blank" class="btn new-tab-btn">Preview</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
          <div class="set-position">
            <div class="layout-container demo28">
            </div>
            <div class="demo-text">
              <h4>product-page (3-col-right)</h4>
              <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                <a href="home/col-right/product/1" target="_blank" class="btn new-tab-btn">Preview</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
          <div class="set-position">
            <div class="layout-container demo29">
            </div>
            <div class="demo-text">
              <h4>product-page (3-column)</h4>
              <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                <a href="home/column/product/1" target="_blank" class="btn new-tab-btn">Preview</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
          <div class="set-position">
            <div class="layout-container demo30">
            </div>
            <div class="demo-text">
              <h4>product-page (accordian)</h4>
              <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                <a href="home/accordian/product/1" target="_blank" class="btn new-tab-btn">Preview</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
          <div class="set-position">
            <div class="layout-container demo32">
            </div>
            <div class="demo-text">
              <h4>product-page (left-image)</h4>
              <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                <a href="home/left-image/product/1" target="_blank" class="btn new-tab-btn">Preview</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
          <div class="set-position">
            <div class="layout-container demo33">
            </div>
            <div class="demo-text">
              <h4>product-page (left-sidebar)</h4>
              <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                <a href="home/product/1" target="_blank" class="btn new-tab-btn">Preview</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
          <div class="set-position">
            <div class="layout-container demo34">
            </div>
            <div class="demo-text">
              <h4>product-page (no sidebar)</h4>
              <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                <a href="home/no-sidebar/product/1" target="_blank" class="btn new-tab-btn">Preview</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
          <div class="set-position">
            <div class="layout-container demo35">
            </div>
            <div class="demo-text">
              <h4>product-page (right image)</h4>
              <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                <a href="home/right-image/product/1" target="_blank" class="btn new-tab-btn">Preview</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
          <div class="set-position">
            <div class="layout-container demo36">
            </div>
            <div class="demo-text">
              <h4>product-page (right-sidebar)</h4>
              <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                <a href="home/right-sidebar/product/1" target="_blank" class="btn new-tab-btn">Preview</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
          <div class="set-position">
            <div class="layout-container demo38">
            </div>
            <div class="demo-text">
              <h4>product-page (vertical tab)</h4>
              <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                <a href="home/vertical/product/1" target="_blank" class="btn new-tab-btn">Preview</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->
<!-- Shop layout section -->
<!-- <section class="demo-section" id="shop">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-text text-center">
          <h2>3<sup>+</sup></h2>
          <h3>Shop Variations That's Ready To Use</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo22">
          </div>
          <div class="demo-text">
            <h4>category (left-sidebar)</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/collection/men" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo23">
          </div>
          <div class="demo-text">
            <h4>category (no-sidebar)</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/no-sidebar/collection/men" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12 text-center demo-effects">
        <div class="set-position">
          <div class="layout-container demo24">
          </div>
          <div class="demo-text">
            <h4>category (right-sidebar)</h4>
            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
              <a href="home/right-sidebar/collection/men" target="_blank" class="btn new-tab-btn">Preview</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> -->


<!-- lookbook section -->
<!-- <div class="tab-section lookbook-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="lookbook">
          <div>
            <img src="assets/images/landing-page/l-icon.png" alt="" class="img-fluid">
            <div class="title-text text-center">
              <h3>Advance & Attractive Lookbook</h3>
            </div>
            <p>Just pin everything you want to sell from a photo.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/images/landing-page/lookbook.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div> -->


<!-- special feature section -->
<!-- <section class="feature-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-text text-center">
          <h3>Special Feature</h3>
        </div>
      </div>
    </div>
    <div class="feature">
      <div class="row">
        <div class="col-sm-6 col-12 p-r-0 set-padding">
          <div class="feature-product">
            <img src="assets/images/landing-page/feature/s1.gif" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-6 col-12 align-self-center align-right">
          <div class=" bg-brown">
            <h2>Filters</h2>
            <div class="set-border"></div>
            <h5>There are different types of product filter like Brands, color, price etc.
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="row">
        <div class="col-sm-6 col-12 align-self-center set-order">
          <div class=" bg-brown">
            <h2>Product Zoom</h2>
            <div class="set-border"></div>
            <h5>Let your users see item's material , texture or any details multikart zoom works perfectly for your users.
            </h5>
          </div>
        </div>
        <div class="col-sm-6 col-12 p-l-0 set-padding">
          <div class="feature-product">
            <img src="assets/images/landing-page/feature/s2.gif" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="row">
        <div class="col-sm-6 col-12 p-r-0 set-padding">
          <div class="feature-product">
            <img src="assets/images/landing-page/feature/s3.png" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-6 col-12 align-self-center align-right">
          <div class=" bg-brown">
            <h2>Payment Gateway</h2>
            <div class="set-border"></div>
            <h5> We care for your ecommerce shopping store so we have integrated paypal and stripe to accept payment globally.
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="row">
        <div class="col-sm-6 col-12 align-self-center set-order">
          <div class=" bg-brown">
            <h2>RTL Supported</h2>
            <div class="set-border"></div>
            <h5>Design your website LTR or RTL , Multikart supports multi-languages so its easy to design website on any layout  such as arabic , persian , urdu and many more.
            </h5>
          </div>
        </div>
        <div class="col-sm-6 col-12 p-l-0 set-padding">
          <div class="feature-product">
            <img src="assets/images/landing-page/feature/s4.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="row">
        <div class="col-sm-6 col-12 p-r-0 set-padding">
          <div class="feature-product">
            <img src="assets/images/landing-page/feature/1.5.gif" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-6 col-12 align-self-center align-right">
          <div class=" bg-brown">
            <h2>Facebook Chat
            </h2>
            <div class="set-border"></div>
            <h5>Turn Visitors into your customers, increase sales. support your customers anywhere, anytime even on your phone for your business using facebook messenger.
            </h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</section> -->


<!-- key feature section -->
<!-- <section class="key-feature section-space" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="demo-texts text-center">
          <h2>key features</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-7"></div>
            </div>
            <h5>Angular</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-1"></div>
            </div>
            <h5>Html5</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-2"></div>
            </div>
            <h5>Css3</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-3"></div>
            </div>
            <h5>Bootstrap</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-4"></div>
            </div>
            <h5>Sass</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-5"></div>
            </div>
            <h5>W3 Validate</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-6"></div>
            </div>
            <h5>Unlimited color filters</h5>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-8"></div>
            </div>
            <h5>Ngx Product Zoom</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-9"></div>
            </div>
            <h5>Multilevel Menu</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-10"></div>
            </div>
            <h5>Ngx Infinite Loader</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-11"></div>
            </div>
            <h5>Product-time reminder</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-12"></div>
            </div>
            <h5>Instagram Api</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-13"></div>
            </div>
            <h5>Full-width Layout</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-14"></div>
            </div>
            <h5>Lookbook</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-15"></div>
            </div>
            <h5>Product Compare</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-16"></div>
            </div>
            <h5>Google fonts</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-17"></div>
            </div>
            <h5>Ngx Paypal</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image image-18"></div>
            </div>
            <h5>Stripe.js</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- support section -->
<!-- <section class="support-section" id="support">
  <div class="support-text">
    <img src="assets/images/landing-page/support.png" alt="" class="img-fluid">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="support-content">
          <div>
            <img src="assets/images/landing-page/feature/s6.png" alt="" class="img-fluid">
            <h4>have any problem?</h4>
            <p>No worries - Our support service is always ready to help you</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="support-content">
          <div>
            <img src="assets/images/landing-page/feature/s7.png" alt="" class="img-fluid">
            <h4>Do you new user and you can't install theme?</h4>
            <p>No worries - we'll install free theme for you</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="support-content">
          <div>
            <img src="assets/images/landing-page/feature/s8.png" alt="" class="img-fluid">
            <h4>Frequently asked questions</h4>
            <p>If you have any question, please feel free to post it on our
              support system HERE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="support-image">
    <img src="assets/images/landing-page/support-bg.png" alt="" class="img-fluid">
  </div>
</section> -->

<!-- Rate section -->
<!-- <section class="rate-section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img src="assets/images/landing-page/logo.png">
        <h2>if you like our product please rate us</h2>
        <ul>
          <li>
            <i class="fa fa-star" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-star" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-star" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-star" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-star" aria-hidden="true"></i>
          </li>
        </ul>
        <a href="javascript:void(0)" class="btn btn-primary">rate us</a>
      </div>
    </div>
  </div>
</section> -->
<!-- Footer section -->
<!-- <section class="footer-section p-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <p>Copyrights © 2019 by Pixelstrap All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
