<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Checkout</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<section class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>User Details</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">First Name *</div>
                                    <input type="text" name="firstname"
                                        [formControl]="checkoutForm.controls['firstname']" value="" placeholder=""
                                        autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required"
                                        class="text text-danger">
                                        First Name is required.
                                    </div>
                                    <!-- <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern"
                                        class="text text-danger">
                                        First Name must be an alphabates.
                                    </div> -->
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Last Name * </div>
                                    <input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required"
                                        class="text text-danger">
                                        Last Name is required.
                                    </div>
                                    <!-- <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern"
                                        class="text text-danger">
                                        Last Name must be an alphabates.
                                    </div> -->
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email Address *</div>
                                    <input type="text" name="email" [formControl]="checkoutForm.controls['email']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required"
                                        class="text text-danger">
                                        Email is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.email"
                                        class="text text-danger">
                                        Invalid Email
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Phone Number<small> (optional)</small></div>
                                    <input type="tel" name="phone" [formControl]="checkoutForm.controls['phone']"
                                        value="" placeholder="" autocomplete="off">
                                    <!-- <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required"
                                        class="text text-danger">
                                        Phone No is required.
                                    </div> -->
                                    <!-- <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.pattern"
                                        class="text text-danger">
                                        Phone No must be number.
                                    </div> -->
                                </div>
                                <div class="checkout-title">
                                    <h3>Recipient Details</h3>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Full Name *</div>
                                    <input type="text" name="fullname" [formControl]="checkoutForm.controls['fullname']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.fullname.touched && checkoutForm.controls.fullname.errors?.required"
                                        class="text text-danger">
                                        Full Name is required.
                                    </div>
                                    <!-- <div *ngIf="checkoutForm.controls.fullname.touched && checkoutForm.controls.fullname.errors?.pattern"
                                        class="text text-danger">
                                        Full Name must be an alphabates.
                                    </div> -->
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Phone Number *<small> (required to confirm recipient's details)</small></div>
                                    <input type="tel" name="recipientphone"
                                        [formControl]="checkoutForm.controls['recipientphone']" value="" placeholder=""
                                        autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.recipientphone.touched && checkoutForm.controls.recipientphone.errors?.required"
                                        class="text text-danger">
                                        Recipient Phone No is required.
                                    </div>
                                    <!-- <div *ngIf="checkoutForm.controls.recipientphone.touched && checkoutForm.controls.recipientphone.errors?.pattern"
                                        class="text text-danger">
                                        Recipient Phone No must be number.
                                    </div> -->
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Address *</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required"
                                        class="text text-danger">
                                        Address is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength"
                                        class="text text-danger">
                                        Maximum 500 character
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Town/City *</div>
                                    <input type="text" name="town" [formControl]="checkoutForm.controls['town']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.town.touched && checkoutForm.controls.town.errors?.required"
                                        class="text text-danger">
                                        City is required
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">State *<small> More states will be added soon</small></div>
                                    <select name="state" [formControl]="checkoutForm.controls['state']">
                                        <option value="" selected>Select State</option>
                                        <option value="Lagos">Lagos</option>
                                    </select>
                                    <!-- <input type="text" name="state" [formControl]="checkoutForm.controls['state']"
                                        value="" placeholder="" autocomplete="off"> -->
                                    <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required"
                                        class="text text-danger">
                                        State is required
                                    </div>
                                </div>

                                <!-- <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">Country</div>
                                    <input type="text" name="country" [formControl]="checkoutForm.controls['country']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required"
                                        class="text text-danger">
                                        Country is required
                                    </div>
                                </div> -->
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Country *</div>
                                    <select name="country" [formControl]="checkoutForm.controls['country']">
                                        <option value="" selected>Select Country</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <!-- <option value="USA">USA</option>
                                        <option value="Australia">Australia</option> -->
                                    </select>
                                    <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required"
                                        class="text text-danger">
                                        Country is required
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">Special Instructions</div>
                                    <textarea rows="5" name="specialinstructions"
                                        [formControl]="checkoutForm.controls['specialinstructions']" value=""
                                        placeholder="" autocomplete="off" style="height: 150px;"></textarea>
                                </div>
                            </div>
                            <div class="checkout-title" *ngIf="gift_card_section">
                                <h3>Gift Card Message</h3>
                            </div>
                            <div class="row check-out" *ngIf="gift_card_section">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <!-- <div class="field-label">GIFT CARD MESSAGE</div> -->
                                    <textarea rows="5" name="card_message"
                                        [formControl]="checkoutForm.controls['card_message']" value=""
                                        placeholder="Write your message here or write 'blank card'" autocomplete="off"
                                        style="height: 150px;"></textarea>
                                    <div *ngIf="checkoutForm.controls.card_message.touched && checkoutForm.controls.card_message.errors?.maxlength"
                                        class="text text-danger">
                                        Maximum 250 character
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 text">
                                            <a href="javascript:void(0)" (click)="giftMessages()"
                                                class="btn gen-message-pop" style="display: inline-block;"><i
                                                    class="fa fa-question-circle"></i>
                                                Stuck for words?</a>
                                        </div>
                                        <div class="col-lg-6 text">
                                            {{getRemainingCharacter()}} characters left.
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="checkoutForm.controls.card_message.touched && checkoutForm.controls.card_message.errors?.required"
                                            class="text text-danger">
                                            Address is required
                                        </div> -->
                                    <!-- <div class="checkout-title">
                                        <h3>Select Card Style: {{selected_card_style}}</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 p-0">
                                            <ngx-slick-carousel (init)="slickInit($event)" class="slider-nav"
                                                #slickModal="slick-carousel" [config]="slideNavConfig">
                                                <div ngxSlickItem *ngFor="let cs of card_styles; trackBy: trackStyle">
                                                    <div>
                                                        <img [src]="cs.image" alt="" (click)="selectCardStyle(cs.title)"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="text">
                                                        {{cs.title}}
                                                    </div>
                                                </div>
                                            </ngx-slick-carousel>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="row" *ngIf="showDummy">
                                <div class="col-12">
                                    <div class="stripe-section">
                                        <h5>stripe js</h5>
                                        <div class="content">
                                            <h5>dummy test</h5>
                                            <table>
                                                <tr>
                                                    <td>cart number</td>
                                                    <td>4242424242424242</td>
                                                </tr>
                                                <tr>
                                                    <td>mm/yy</td>
                                                    <td>2/2020</td>
                                                </tr>
                                                <tr>
                                                    <td>cvc</td>
                                                    <td>2222</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-cls" *ngIf="showDummy">
                                <div class="col-12">
                                    <div class="stripe-section">
                                        <h5>paypal</h5>
                                        <div class="content">
                                            <h5>dummy test</h5>
                                            <table>
                                                <tr>
                                                    <td>cart number</td>
                                                    <td>4152521541244</td>
                                                </tr>
                                                <tr>
                                                    <td>mm/yy</td>
                                                    <td>11/18</td>
                                                </tr>
                                                <tr>
                                                    <td>cvc</td>
                                                    <td>521</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Product <span> Total</span></div>
                                    </div>
                                    <ul class="qty" *ngIf='checkOutItems.length'>
                                        <li *ngFor="let item of checkOutItems">
                                            {{ item.product.name }} × {{ item.quantity }}
                                            <span>
                                                {{ config.convertPrice(item.product.price) * item.quantity | currency:productsService?.currency:'symbol' }}
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="qty" *ngIf='!checkOutItems.length'>
                                        <li class="empty-checkout"> There are no products in cart </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                            Subtotal <span
                                                class="count">{{ getTotal() | async | currency:productsService?.currency:'symbol'}}</span>
                                        </li>
                                        <li *ngIf='shownow'>
                                            Tax
                                            <div class="shipping">
                                                <span>
                                                    {{ config.convertPrice(tax_amount) | currency:productsService?.currency:'symbol' }}
                                                </span>
                                                <!-- checkOutItems.length <div class="shopping-option">
                                                    <input type="radio" name="shipping" checked="checked"
                                                        id="free-shipping">
                                                    <label for="free-shipping">Shipping</label>
                                                </div>
                                                <div class="shopping-option">
                                                    <input type="radio" name="shipping" id="local-pickup">
                                                    <label for="local-pickup">Local Pickup</label>
                                                </div> -->
                                            </div>
                                        </li>
                                        <li *ngIf='shownow'>
                                            Delivery
                                            <div class="shipping">
                                                <!-- <span>
                                                    {{ config.convertPrice(delivery_amount) | currency:productsService?.currency:'symbol' }}
                                                </span> -->
                                                <form>
                                                    <div class="shopping-option"
                                                        *ngFor="let del of productsService.delivery">
                                                        <input type="radio" name="shipping" id="free-shipping-{{del.id}}"
                                                            (change)="deliveryMethodChange(del.value, del.name)"
                                                            value="{{del.value}}">
                                                        <label for="free-shipping-{{del.id}}">{{del.name}} -
                                                            {{config.convertPrice(del.value) | currency:productsService?.currency:'symbol'}}</label>
                                                        <br><small>{{del.description}}</small>
                                                    </div>
                                                </form>
                                                <!-- <div class="shopping-option">
                                                    <input type="radio" name="shipping" id="local-pickup">
                                                    <label for="local-pickup">Local Pickup</label>
                                                </div> -->
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span
                                                class="count">{{ config.convertPrice(amount) | currency:productsService?.currency:'symbol'}}
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="payment-box" *ngIf='checkOutItems.length'>
                                    <div class="upper-box" *ngIf="showPaymentOption">
                                        <div class="payment-options">
                                            <ul>
                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" [(ngModel)]="payment" [value]="false"
                                                            name="payment-group" id="payment-2">
                                                        <label for="payment-2">Stripe
                                                            <span class="small-text">Please send a check to Store Name,
                                                                Store Street, Store Town, Store State / County, Store
                                                                Postcode.</span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio-option paypal">
                                                        <input type="radio" [(ngModel)]="payment" [value]="true"
                                                            name="payment-group" id="payment-3">
                                                        <label for="payment-3">Paystack<span class="image">
                                                                <!-- <img src="assets/images/paypal.png" alt="" /> -->
                                                            </span>
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <!-- <button class="btn-solid btn" [disabled]="!checkoutForm.valid"
                                            (click)="stripeCheckout()" type="submit" *ngIf="payment">
                                            Place Order
                                        </button> -->
                                        <!-- <ngx-paypal [config]="payPalConfig">
                                        </ngx-paypal> "site": "tac-staging-website",-->
                                        
                                        <!-- pk_test_8be8b3b21803dcb62514b6e55f3c6f90f4a74483 -->
                                        <!-- <button angular4-paystack *ngIf="!payment"
                                            [disabled]="!checkoutForm.valid || delivery_amount == 0" [key]="payK"
                                            [email]="checkoutForm.value.email"
                                            [amount]="this.config.convertPrice(amount) * 100" [ref]="reference"
                                            [channels]="['card','bank']"
                                            [currency]="(productsService.currency == '₦') ? 'NGN' : this.productsService.currency"
                                            class="btn-solid btn" (close)="paymentCancel()"
                                            (callback)="paymentDone($event)">Place Order</button> *ngIf="!checkoutForm.valid || delivery_amount == 0"-->
                                        <button class="btn-solid btn" [disabled]="!checkoutForm.valid" type="button" (click)="placeOrderButtonClicked()">
                                            Place Order
                                        </button>
                                        <!-- <rave-pay-button *ngIf="checkoutForm.valid && delivery_amount > 0"
                                            [text]="'Place Order'" [className]="'btn-solid btn'"
                                            (callback)="paymentDone($event)" (close)="paymentCancel()"
                                            [key]="flutterWaveKey"
                                            [currency]="(this.productsService.currency == '₦') ? 'NGN' : this.productsService.currency"
                                            [country]="setupCurrencyAndCountry()"
                                            [customer_firstname]="checkoutForm.value.firstname"
                                            [customer_lastname]="checkoutForm.value.lastname"
                                            [customer_phone]="checkoutForm.value.phone" [reference]="reference"
                                            [redirect_url]="'http://localhost:4200/home/checkout'"
                                            [amount]="this.config.convertPrice(amount)"
                                            [email]="checkoutForm.value.email"></rave-pay-button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<ng-template #gifts let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-body">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <!-- <i class="material-icons">mail_outline</i> -->
                        </div>
                        <h4 class="card-title">Gift Card Messages</h4>
                    </div>
                    <div class="card-body ">
                        <form method="#" action="#">
                            <mat-form-field>
                                <mat-select color="accent" placeholder="Select a Category" style="width: 100%;"
                                    [(ngModel)]="selected_category" name="Category" ariaLabel="card_categories[0]">
                                    <mat-option *ngFor="let cc of card_categories" [value]="cc">
                                        {{cc}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngFor="let msg of selected_messages_array">
                                <button type="button" class="btn-solid btn"
                                    (click)="addMessageToField(msg.text)">{{msg.text}}</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer ">
                        <button type="button" class="btn-solid btn" (click)="viewMessages()">View Messages</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="c('Close click')">Close</button>
        </div>
    </div>
</ng-template>