<!-- collection banner -->
<section>
    <div class="container">
        <div class="row partition3">
            <div class="col-md-4" *ngFor="let cats of collection">
                <a [routerLink]="'/home/left-sidebar/collection/watch'">
                    <div class="collection-banner p-left">
                        <img [src]="cats.image" class="img-fluid" alt="">
                        <div class="contain-banner banner-3" *ngIf="cats.title && cats.text">
                            <div>
                                <h4>{{cats.title}}</h4>
                                <h2>{{cats.text}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- collection banner end -->