<app-slider-seven></app-slider-seven>
<app-collection-banner-seven></app-collection-banner-seven>
<app-special-products-seven [products]="products"></app-special-products-seven>
<app-product-tab-seven [products]="products"></app-product-tab-seven>
<app-product-slider-seven [products]="products"></app-product-slider-seven>
<app-blog-seven></app-blog-seven>
<app-services-seven></app-services-seven>
<app-instagram-seven></app-instagram-seven>
<app-quick-view></app-quick-view>
<app-modal-cart></app-modal-cart>