<!-- Home slider -->
<section class="p-0">
    <ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" (init)="slickInit($event)"
        [config]="sliderConfig">
        <div ngxSlickItem>
            <div class="home home111 text-center" [ngStyle]="getMyStyles3()">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <!-- <h4>{{productsService.banner.slider1_title}}</h4>
                                    <h1>{{productsService.banner.slider1_subtitle}}</h1> -->
                                    <a href="/social-tree" class="btn btn-solid">connect now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="home home111 text-center" [ngStyle]="getMyStyles1()">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>{{productsService.banner.slider1_title}}</h4>
                                    <h1>{{productsService.banner.slider1_subtitle}}</h1>
                                    <br><br><br><br>
                                    <a href="{{productsService.slider_one_link}}" class="btn btn-solid">shop
                                        now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="home home211 text-center" [ngStyle]="getMyStyles2()">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    `<h4>{{productsService.banner.slider2_title}}</h4>
                                    <h1>{{productsService.banner.slider2_subtitle}}</h1>
                                    <br><br><br><br>
                                    <a href="{{productsService.slider_two_link}}" class="btn btn-solid">shop
                                        now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</section>
<!-- Home slider end -->