<!-- product slider start -->
<section class="section-b-space tools-grey">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title3">
                    <h2 class="title-inner3">Popular products</h2>
                    <div class="line"></div>
                </div>
                <ngx-slick-carousel class="product-5 product-m no-arrow" #slickModal="slick-carousel" [config]="productSlideConfig">
                  <div ngxSlickItem class="product-box product-wrap" *ngFor="let product of products | slice:0:16">
                     <app-product-box-hover [product]="product"></app-product-box-hover>
                 </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!-- product slider end -->