<!-- collection banner assets/images/fashion/1.jpg  assets/images/fashion/2.jpg  assets/images/fashion/3.jpg assets/images/fashion/4.jpg-->
<section class="banner-padding banner-furniture">
    <div class="container-fluid">
        <div class="row partition3">
            <div class="col-md-6">
                <a [routerLink]="['/home/left-sidebar/collection/all']">
                    <div class="collection-banner p-left text-left">
                        <img src="{{productsService.banner.grid1_image}}" alt="" class="img-fluid">
                        <div class="contain-banner">
                            <div>
                                <h4>{{productsService.banner.grid1_title}}</h4>
                                <h2>{{productsService.banner.grid1_subtitle}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a [routerLink]="['/home/left-sidebar/collection/all']">
                    <div class="collection-banner p-left text-left">
                        <img src="{{productsService.banner.grid2_image}}" alt="" class="img-fluid">
                        <div class="contain-banner">
                            <div>
                                <h4>{{productsService.banner.grid2_title}}</h4>
                                <h2>{{productsService.banner.grid2_subtitle}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- collection banner end -->
<!-- collection banner -->
<section class="banner-padding banner-furniture">
    <div class="container-fluid">
        <div class="row partition3">
            <div class="col-md-6">
                <a [routerLink]="['/home/left-sidebar/collection/all']">
                    <div class="collection-banner p-left text-left">
                        <img src="{{productsService.banner.grid3_image}}" alt="" class="img-fluid">
                        <div class="contain-banner">
                            <div>
                                <h4>{{productsService.banner.grid3_title}}</h4>
                                <h2>{{productsService.banner.grid3_subtitle}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a [routerLink]="['/home/left-sidebar/collection/all']">
                    <div class="collection-banner p-left text-left">
                        <img src="{{productsService.banner.grid4_image}}" alt="" class="img-fluid">
                        <div class="contain-banner">
                            <div>
                                <h4>{{productsService.banner.grid4_title}}</h4>
                                <h2>{{productsService.banner.grid4_subtitle}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- collection banner end -->

<!-- https://firebasestorage.googleapis.com/v0/b/taconlinegiftshop.appspot.com/o/banners%2Fcustom_672x310.png?alt=media&token=f4832d9b-8845-459f-b922-68cd102e3d74
https://firebasestorage.googleapis.com/v0/b/taconlinegiftshop.appspot.com/o/banners%2Fwine_672x310.png?alt=media&token=bd43385d-024d-4b59-99a5-01c02ceee757
https://firebasestorage.googleapis.com/v0/b/taconlinegiftshop.appspot.com/o/banners%2Fpack_c_672x310.png?alt=media&token=f78bb8f0-39e8-4ae8-abc6-88af0744d65a
https://firebasestorage.googleapis.com/v0/b/taconlinegiftshop.appspot.com/o/banners%2Fpack_672x310.png?alt=media&token=96a08d42-67cf-474b-81ee-fad14ea4656d -->