<!-- Home Slider -->
<section class="p-0 gym-slider">
    <ngx-slick-carousel class="slide-1 home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
        <div ngxSlickItem>
            <div class="home home43 text-right p-right">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>summer sale</h4>
                                    <h1>Protien Powder</h1>
                                    <a [routerLink]="'/home/left-sidebar/collection/men'" class="btn btn-solid btn-gradient">save up to 50% off</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="home home44 p-right text-right">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>summer sale</h4>
                                    <h1>Protien Shake</h1>
                                    <a [routerLink]="'/home/left-sidebar/collection/men'" class="btn btn-solid btn-gradient">save up to 50% off</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</section>
<!-- Home slider end -->