<!-- Video section start -->
<section class="video-section  section-b-space">
    <div class="title1 ">
        <h4>special offer</h4>
        <h2 class="title-inner1">product tutorial</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <a href="" data-toggle="modal" data-target="#video">
                    <div class="video-img">
                        <img src="assets/images/beauty/video_1.jpg" alt="" class="img-fluid">
                        <div class="play-btn">
                            <span><i class="fa fa-play" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </a>
                <div class="modal fade video-modal" id="video"  role="dialog"  aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <iframe src="https://www.youtube.com/embed/FRIDLxM8Roc" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- video section end -->