<!-- Home slider -->
<section class="p-0">
    <ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
        <div ngxSlickItem>
            <div class="home home12 text-left ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>furniture sofa</h4>
                                    <h1>harmony sofa</h1>
                                    <a [routerLink]="'/home/left-sidebar/collection/furniture'" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="home home13 text-left">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>furniture sofa</h4>
                                    <h1>harmony chair</h1>
                                    <a [routerLink]="'/home/left-sidebar/collection/furniture'" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</section>
<!-- Home slider end -->