<!-- header start -->
<!-- <div id="tac_covid_bar_con">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <span><b>COVID-19</b>&nbsp;&nbsp;</span> &nbsp;
                <span><b>Gift the world</b> - join the fight! &nbsp; - A message to our community about COVID-19. &nbsp;Practice social distancing</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://covid19.ncdc.gov.ng/">Learn more from the NCDC Website</a></span>
            </div>
        </div>
    </div>
</div> -->
<header id="sticky" class="sticky">
	<div class="mobile-fix-option"></div>
	<div class="top-header" id="top-header-type">
		<div class="container-fluid">
			<app-topbar></app-topbar>
		</div>
	</div>
	<div class="container-fluid layout3-menu">
		<div class="row">
			<div class="col-sm-12">
				<div class="main-menu row">
					<div class="col">
						<div class="menu-left around-border">
							<div class="navbar">
								<a (click)="openNav()">
									<i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
								</a>
								<div id="mySidenav" class="sidenav">
								    <a [routerLink]="" class="sidebar-overlay" (click)="closeNav()"></a>
								    <nav>
								      <div (click)="closeNav()">
								        <div class="sidebar-back text-left">
								          <i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back
								        </div>
								      </div>
										<app-left-menu></app-left-menu>
									</nav>
								</div>
							</div>
							<div class="main-menu-right">
								<app-navbar></app-navbar>
							</div>
						</div>
					</div>
					<div class="col-2">
					<div class="brand-logo">
						<a href="/home"><img alt="" src="assets/images/icon/logo.png"></a>
					</div></div>
					<div class="col">
						<div class="menu-right pull-right">
							<div>
								<app-header-widgets [shoppingCartItems]="shoppingCartItems"></app-header-widgets>
							</div>
						</div>
					</div>
			    </div>
			</div>
	    </div>
	</div>
</header>
<!-- header end -->