<!-- header start -->
<header id="sticky" class="sticky">
	<div class="mobile-fix-option"></div>
	<div class="top-header" id="top-header-type">
		<div class="container-fluid">
			<app-topbar></app-topbar>
		</div>
	</div>
	<div class="container-fluid layout3-menu">
		<div class="row">
			<div class="col-sm-12">
				<div class="main-menu row">
					<div class="col">
						<div class="menu-left around-border">
							<div class="navbar">
								<a (click)="openNav()">
									<i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
								</a>
								<div id="mySidenav" class="sidenav">
								    <a [routerLink]="" class="sidebar-overlay" (click)="closeNav()"></a>
								    <nav>
								      <div (click)="closeNav()">
								        <div class="sidebar-back text-left">
								          <i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back
								        </div>
								      </div>
										<app-left-menu></app-left-menu>
									</nav>
								</div>
							</div>
							<div class="main-menu-right">
								<app-navbar></app-navbar>
							</div>
						</div>
					</div>
					<div class="col-2">
					<div class="brand-logo">
						<a [routerLink]="['/home/three']"><img alt="" src="assets/images/icon/logo.png"></a>
					</div></div>
					<div class="col">
						<div class="menu-right pull-right">
							<div>
								<app-header-widgets [shoppingCartItems]="shoppingCartItems"></app-header-widgets>
							</div>
						</div>
					</div>
			    </div>
			</div>
	    </div>
	</div>
</header>
<!-- header end -->